.view-index {
	.nht {
		&-hottest-sets {
			.card-columns {
				@media (max-width: 767px) { 
					@include column-count($columns: 2); 
				}

				@media (min-width: 768px) { 
					@include column-count($columns: 3); 
				}

				@media (min-width: 992px) { 
					@include column-count($columns: 4); 
				}

				@include column-gap($gap: 0.25rem);
	
				> a {
					@media (max-width: 575px) { 
						display: inherit; 
					}

					@media (min-width: 576px) { 
						display: inline-flex; 
					}
	
					.card {
						overflow: hidden;
						display: inline-block;
	
						&:hover {
							img { 
								@include transform(scale(1.15));
							}
						}
	
						img {
							@include transition(all 0.25s ease);
						}
	
						&-img-overlay {
							@include card-gradient;
	
							.card-text {
								text-shadow: 0 0 5px rgba(0, 0, 0, 0.60);
								font-size: 0.9rem;
								position: absolute;
								bottom: 0; 
								left: 0;
							}
						}
					}
				}
			}
		}
	}
}