// cards
@mixin card-gradient($start-color: rgba(0, 0, 0, 0.85), $start-transparent: transparent, $end-transparent: transparent, $end-color: rgba(0, 0, 0, 0.85)) {
	background-image: -webkit-linear-gradient($start-color 0%, $start-transparent 18%, $end-transparent 82%, $end-color 100%);
	background-image: -moz-linear-gradient($start-color 0%, $start-transparent 18%, $end-transparent 82%, $end-color 100%);
	background-image: linear-gradient($start-color 0%, $start-transparent 18%, $end-transparent 82%, $end-color 100%);
}

// backgrounds
@mixin bg-gradient-2($start-color: $white, $end-color: map-get($pinks, "200")) {
	background-image: -webkit-linear-gradient(145deg, $start-color 0%, $end-color 100%);
	background-image: -moz-linear-gradient(145deg, $start-color 0%, $end-color 100%);
	background-image: linear-gradient(145deg, $start-color 0%, $end-color 100%);
}

@mixin bg-gradient-3($start-color: $primary, $middle-color: map-get($purples, "400"), $end-color: map-get($purples, "200")) {
	background-image: -webkit-linear-gradient(-45deg, $start-color 10%, $middle-color 60%, $end-color 100%);
	background-image: -moz-linear-gradient(-45deg, $start-color 10%, $middle-color 60%, $end-color 100%);
	background-image: linear-gradient(-135deg, $start-color 10%, $middle-color 60%, $end-color 100%);
}
