/*
.nht-footer {
	@include bg-gradient-3;
	background-color: map-get($pinks, "500");

	.no-gutters {
		> div:nth-child(1) { 
			background-color: map-get($purples, "200");
		}

		> div:nth-child(2) { 
			background-color: map-get($purples, "300");
		}

		> div:nth-child(3) { 
			background-color: map-get($purples, "400");
		}

		> div:nth-child(4) { 
			background-color: map-get($purples, "500");
		}
	}
}
*/