.nht-newsletter {

	.bg-primary {
		&.rounded-lg {
			border-radius: .85rem !important;
		}

		form {
			.form-check {
				position: inherit;
				padding-left: 0;
	
				&-input {
					@include transform(scale(1.35));
	
					position: inherit;
					margin-left: 0;
				}
			}
		}
	}
}