.view-join {
	.nht {
		&-plans {
			.order-1 {
				.card {
					.card-body {
						.nht-mdi-144px {
							font-size: 144px;
							line-height: 146px;
							margin: -15px 0 5px;
							display: block;
						}
						
						.list-group {
							.list-group-item {
								background-color: map-get($purples, "600");
							}
						}
					}
				}
			}
		}
	}
}